@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(90deg, #28d7ba, #23757b);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  background-color: #000;
  border-radius: 25px;
  padding: 20px;
}

input,
button {
  border-radius: 10px;
  border: 5px solid #28d7ba;
  font-size: 1.3rem;
  padding: 10px;
}

input {
  background-color: #000;
  color: #28d7ba;
}

input::placeholder {
  color: #28d7ba;
}

button {
  width: 100%;
  background-color: #28d7ba;
  color: #000;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  color: #28d7ba;
  background-color: #000;
}

input:focus {
  outline: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #28d7ba;
  border-radius: 20px;
  width: 100%;
}

i {
  cursor: pointer;
}
